/* Global */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
  background-color: black;
  font-size: 16px;
  line-height: 1.7;
  font-family: 'Roboto', sans-serif;
  color: #574E4E;
}

.container {
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
}

/* Header */
.page-title {
  font-size: 70px;
  font-family: 'Bangers', cursive;
}

.wrapper {
  display: flex;
  width: 50%;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 100px;
}

.box i {
  font-size: 30px;
  background: transparent;
  border: solid 3px #FFD700;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  color: #FFD700;
}
